/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font: 'Raleway', sans-serif;
  font-family: 'Raleway', sans-serif;
}
/* ------------------VARIABLES------------------- */
/* -------------------MIXINS--------------------- */
.row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.clm-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.clm-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.bkbl {
  background-color: rgba(65, 65, 231, 0.822);
  border: 1px dashed orange;
}
.bkgrn {
  background-color: rgba(24, 107, 24, 0.835);
  border: 1px dashed magenta;
}
.bkyllw {
  background-color: rgba(167, 151, 64, 0.712);
  border: 1px dashed turquoise;
}
.bkrd {
  background-color: rgba(197, 96, 96, 0.76);
  border: 1px dashed greenyellow;
}
.phone-mixin {
  font-size: 0.5rem;
  padding: 0.5% auto;
}
.tablet-mixin {
  width: 100%;
  font-size: 3rem;
  padding: 4% auto;
}
/* ---------------STYLING STARTS HERE------------ */
.page {
  margin: 5% 5% 0% 5%;
}
/* ///NAVIGATION/// */
.navbarcnt {
  padding: 0% 0% 2% 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  .navbarcnt {
    font-size: 0.5rem;
    padding: 0.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.navitemscnt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .navitemscnt {
    font-size: 0.5rem;
    padding: 0.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.navitemscnt .nava {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: black;
}
/* ///INTRODUCTION/// */
.imgcnt {
  padding: 5px 5px 5px 5px;
}
@media (max-width: 500px) {
  .imgcnt {
    font-size: 0.5rem;
    padding: 0.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 25%;
  }
}
.introcnt {
  background-color: rgba(186, 195, 200, 0.318);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
@media (max-width: 500px) {
  .introcnt {
    font-size: 0.5rem;
    padding: 0.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.titlecnt {
  padding: 5px 5px 5px 5px;
}
.titlecnt h1 {
  margin: 2% 0%;
}
.titlecnt h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
span {
  font-size: 2rem;
}
.subtitlecnt {
  padding: 5px 5px 5px 5px;
}
.btncnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#teamup {
  background-color: #727171;
  padding: 15px 15px 15px 15px;
  margin: 5% 0px 5% 0px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
/* ///SKILLS/// */
.skillsflexcnt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .skillsflexcnt {
    font-size: 0.5rem;
    padding: 0.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.lstnupcnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
#listen {
  padding: 5% 0px;
  margin: 5% 0%;
  height: 70%;
  font-size: 18px;
  font-weight: bold;
}
.tsntxtcnt {
  padding: 5%;
}
.itmflx #stff {
  font-size: 18px;
  font-weight: bold;
}
.stffcnt {
  width: 50%;
}
.itmflx {
  width: 100%;
  padding: 3% 2%;
}
.stfflstcnt {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin: 2%;
}
.stfflstcnt .itmflx {
  border-bottom: 1px solid lightgray;
}
/* ///WORK HISTORY/// */
@media (max-width: 500px) {
  .cnt4 {
    font-size: 0.5rem;
    padding: 0.5% auto;
  }
}
.cnt4 h1 {
  padding: 2% 0%;
  font-size: 18px;
  font-weight: bold;
}
.copyrightflxcnt {
  padding: 3% 0% 0% 0%;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  background-color: #727171;
  color: white;
}
.ttlbr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(173, 173, 173, 0.917);
}
.ttlbr p {
  font-weight: bold;
}
.yr1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(231, 229, 229, 0.486);
}
.yr2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.yr3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(231, 229, 229, 0.486);
}
.yearColumn {
  width: 10%;
  padding: 2%;
}
@media (max-width: 500px) {
  .yearColumn {
    display: none;
    width: 0%;
  }
}
.companyColumn {
  width: 22%;
  padding: 2%;
}
.titleColumn {
  width: 32%;
  padding: 2%;
}
.techColumn {
  width: 22%;
  padding: 2%;
}
