/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: blue;
}
/* ------------------VARIABLES------------------- */
/* -------------------MIXINS--------------------- */
.row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.column-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bkbl {
  background-color: blue;
  border: 1px dashed orange;
}
.bkgrn {
  background-color: green;
  border: 1px dashed magenta;
}
.bkyllw {
  background-color: yellow;
  border: 1px dashed turquoise;
}
.bkrd {
  background-color: red;
  border: 1px dashed greenyellow;
}
/* ---------------STYLING STARTS HERE------------ */
.page {
  margin: 5%;
}
/* ///NAVIGATION/// */
.navbarcnt {
  background-color: blue;
  border: 1px dashed orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navitemscnt {
  background-color: green;
  border: 1px dashed magenta;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navitemscnt .nava {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
/* ///INTRODUCTION/// */
.imgcnt {
  background-color: yellow;
  border: 1px dashed turquoise;
  padding: 5px 5px 5px 5px;
}
.introcnt {
  background-color: rgba(151, 175, 191, 0.318);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
.titlecnt {
  background-color: red;
  border: 1px dashed greenyellow;
  padding: 5px 5px 5px 5px;
}
.subtitlecnt {
  background-color: blue;
  border: 1px dashed orange;
  padding: 5px 5px 5px 5px;
}
.btncnt {
  background-color: green;
  border: 1px dashed magenta;
  padding: 5px 5px 5px 5px;
  /* ///SKILLS/// */
}
.btncnt .skillsflexcnt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.btncnt .lstnupcnt {
  background-color: blue;
}
.btncnt .stffcnt row .stfflstcnt .stfflstcnt p {
  border: 1px solid lightgrey;
}
/* ///WORK HISTORY/// */
